  @charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,rem,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,input,span{margin:0;padding:0;border:0;font-size: 100%;font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
li{list-style-type: none }
a{text-decoration:none;cursor:pointer;}
ul,ol{list-style:none;}
rem{font-style:normal}


/*导航css*/
.dhbg{ width:100%; height:50px; background:#272636;}
.dhnr{ width:1200px; height:50px; margin:0 auto;}
.inner{width: 800px;margin:0 auto;position:relative;}
img{display:block;margin:0 auto;}
.nav2{width: 801px;height:50px;/* float:left; */margin: 0 auto;}
.navUl{width:100%;}
.navUl a{display:block;margin:0 auto;text-align:center;text-decoration:none;color:#fff; font-size:13px;}
.navUl li.navli{width:140px;float:left;height:50px;line-height:50px;position:relative;z-index:6; background:url("../images/dhbg.jpg") no-repeat right;}
.navUl li:hover{text-decoration:underline;background:#3e3d4d;}
.navUl li a:hover{ color:#0eb468;}
.slideDown{position:absolute;top:50px;left:0;display:none;z-index:2;background:rgba(31,35,46,0.9);overflow:hidden;width:86px;}
.slideDown ul li{ border-bottom:#272636 dashed 1px;}
.slideDown ul li a{padding:0 5px; font-size:12px;}
.slideDown ul li:hover{background:#272636; text-decoration:underline;}
.slideDown ul li{height:50px;line-height:50px;}
.slideDown{width:140px;}
.navUl li.navli.tel{float:left;height:50px;width:223px;line-height:50px;position:relative;z-index:6; background:url("../images/tel.png") no-repeat right;}
/*导航css结束*/

/*banner开始*/
.m_banner{ background:#fff;height:650px; position:relative;}
.m_banner .banner{height:650px;width:100%; position:absolute;top:0;left:0; background-position:center top;}
.m_banner .b1{display:block;background:url("../images/banner01.jpg") no-repeat center center;}
.m_banner .b2-2{display:none;background:url("../images/banner04.jpg") no-repeat center center;}
.m_banner .b5{display:none;
			 background:url("../images/banner02.jpg") no-repeat center center;}
.m_banner .b3{display:none;background:url("../images/banner03.jpg") no-repeat center center;}
.banner_ctrl{ height:100px;width:960px;position:absolute;top:50%;left:50%;margin:-50px 0 0 -480px;z-index:2;}
.banner_ctrl a{ display:block;width:30px;height:100px; background:url("../images/banner_ctrl.png") no-repeat; position:absolute; opacity:.1;filter: alpha(opacity=10);-moz-opacity:0.1;}
.banner_ctrl a.prev{left:-30px;}
.banner_ctrl a.next{right:-30px; background-position:-30px 0;}
.m_banner .banner .main_c{ position:relative;z-index:10;height:388px;}
.m_banner .btn{margin:550px auto 0;}
.m_banner .main_c .countdown{ position:absolute;right:160px;top:165px; }
.m_banner .main_c .countdown span{ display:block; float:left;width:33px;height:44px;margin:0 2px;font-size:34px; line-height:44px; text-align:center;color:#62441e;}
.btn { width:100%; height: 42px; line-height: 72px; text-align: center; font-size: 16px; }
.btn a { width: 200px; height: 40px; line-height: 40px; text-align: center; margin: 0 5px; display: inline-block; }
.green { background: #0eb468; border: 1px solid #0eb468; color: #fff; }
a.green:hover { background: #fff; border: 1px solid #0eb468; color: #0eb468; }
.yellow { background: #fff100; color: #1d2b41; border: 1px solid #fff100; }
a.yellow:hover { background: #fff; color: #1d2b41; border: 1px solid #1d2b41; }
/*banner结束*/

/*新增分类*/
.add1{
	width:100%;
	height:230px;
	background:url("../images/bg_05.png")repeat;
}
.add1-mid{
	width:1000px;
	margin:0 auto;
	padding:63px 0 43px;
}
.add1-div1{
	width:258px;
	height:124px;
	float:left;
	margin-left:20px;
}
.add1-div1 h1{
	font-size:18px;
	color:#333;
}
.add1-ul1{
	width:258px;
	overflow:hidden;
}
.add1-ul1 li{
	float:left;
	font-size:14px;
	color:#666;
	margin:12px 18px 0 0;
	cursor:pointer;
}
.add1-more{
	height:12px;
	margin-top:12px;
	line-height:12px;
	font-size:12px;
	color:#0eb468;
	cursor:pointer;
}
.add1-more span{
	display:block;
	float:left;
}
.add1-more span:nth-child(2){
	width:18px;
	height:12px;
	background:url("../images/1_09.png")no-repeat center center;
	background-size:cover;
}
.add1-div2{
	width:320px;
	height:124px;
	float:left;
	margin-right:10px;
}
.add1-ul2{
	width:320px;
	overflow:hidden;
}
.add1-ul2 li{
	float:left;
	font-size:14px;
	color:#666;
	margin:12px 18px 0 0;
	cursor:pointer;
}
.add1-ul2 li:hover{color:g reen;}
.add1-div3{
	float:left;
	width:360px;
	height:124px;
	margin-top:20px;
}
.add1-book{
	width:104px;
	height:124px;
	background-image:url("../images/1_10.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	float:left;
}
.add1-click{
	width:256px;
	height:124px;
	float:left;
}
.add1-click p{
	padding-top:10px;
	font-size:14px;
	color:#666;
	line-height:1.5;
}
.add1-a{
	width:88px;
	height:24px;
	text-align:center;
	line-height:24px;
	background:#0eb468;
	font-size:12px;
	color:#fff;
	border-radius:5px;
	margin-left:12px;
	margin-top:6px;
	cursor:pointer;
}
.add1-a:hover{background-color: aliceblue; border: 1px solid green; color: green;}
/*新增分类 结束*/

/*时间*/
.part19{
	width:100%;
	background:url("../images/bg_05.png")repeat center center;
}
.m1000{
	width:1000px;
	margin:0 auto;
	text-align:center;
}
.title{
	font-size:34px;
	color:#333;
	font-weight:bold;
}
.time{
	color:#333;
	padding-top:30px;
}
.time-div1{
	width:386px;
	height:128px;
	margin:18px auto 22px;
	font-size:94px;
	font-weight:bold;
	background:url("../images/161021_15.png") no-repeat center center;
}
.time-div1 span{
	display:inline-block;
	float:left;
	width: 120px;
	text-align: center;
}
.month{
	padding-left:16px;
	padding-right:80px;
}
.p19-btn{
	width:284px;
	height:56px;
	text-align:center;
	line-height:56px;
	margin:20px auto 54px;
	cursor:pointer;
	background:#333;
	font-size:24px;
	color:#faee39;
}
.remind{
	width:100%;
	overflow:hidden;
}
.remind-1{
	width:110px;
	height:70px;
	text-align:center;
	line-height:70px;
	float:left;
	margin:0 12px 0 64px;
	background:#333;
	font-size:22px;
	font-weight:bold;
	color:#fff;
}
.remind-2{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding:14px 0 0 10px;
	float:left;
	width:726px;
	height:70px;
	text-align:left;
	line-height:70px;
	border:1px dashed #32ccfe;
	font-size:16px;
	line-height:1.5;
}
.locality{
	width:942px;
	margin:46px auto 44px;
	overflow:hidden;
}
.locality li{
	float:left;
	width:140px;
	height:48px;
	text-align:center;
	line-height:50px;
	border:1px solid #333;
	font-size:20px;
	color:#333;
	background:#fff;
	margin-right:18px;
	margin-bottom:20px;
	cursor:pointer;
}
.locality li:hover{
	background:#fff000;
}
/*时间 结束*/

/*政策通知 时间安排*/
.part3{
	width:100%;
	height:600px;
	margin:0 auto;
	background:#484449 url("../images/3_07.jpg") no-repeat top center;
	background-size:100%;
	
}
.part3-top{
	width:1176px;
	padding-top:80px;
	margin:0 auto;
	height:343px;
	position:abs;
}
.part3-left{
	width:114px;
	height:184px;
	margin-left:100px;
	margin-right:150px;
	margin-top:10px;
	float:left;
}
.part3-left li{
	width:114px;
	height:46px;
	color:#b7b7b7;
	background:#183137;
	font-size:20px;
	line-height:46px;
	text-align:center;
	cursor:pointer;
}
.part3-right{
	width:735px;
	height:100%;
	float:left;
	position:relative;
	
}
.part3-left li.p3-t{
	background:#186362;
	color:#fff;
}

.p3-con{
	width:735px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.p3-s{
	display:none;
}
.p3-tit{
	font-size:36px;
	color:#0eb468;
	margin-bottom:20px;
}
.p3-wen{
	font-size:22px;
	color:#fff;
}
.p3-wen li{
	padding-bottom:18px;
}
.p3-add li{
	width:99px;
	height:35px;
	margin:0 20px 20px 0;
	background:#0eb468;
	border-radius:15px;
	text-align:center;
	line-height:35px;
	color:#fff;
	font-size:20px;
	float:left;
}
.p3-add li a{
	color: aliceblue;
}
.p3-in li{
	width:278px;
	padding-left:10px;
	height:52px;
	margin:0 12px 21px 0;
	background:#0eb468;
	text-align:left;
	line-height:52px;
	color:#fff;
	font-size:20px;
	float:left;
}
.p3-in li a{
	color: #fff;	
}
.p3-in a{
	font-weight:bold;
	font-family:"黑体";
}
.part3-bto{
	position:absolute;
	bottom:0px;
	left:0;
	z-index:0;
	width:100%;
	height:185px;
	background:url("../images/1.png")no-repeat top center;
	background-size:100%;
}
.part3-bto h1{
	padding-top:10px;
	text-align:center;
	font-size:30px;
	color:#fff;
	font-family:"宋体";
}
.part3-bto h2{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:18px;
	color:#fff;
	font-family:"宋体";
}
/*政策通知 时间安排 结束*/

/*提升学历这些你可能更关注*/
.section8{
  width:100%;
  padding:60px 0px 100px 0;
}

.questions{
  width:1000px;
  height:320px;
  margin:50px auto;
}

.questions li{
  float:left;
  margin-right:20px;
  margin-bottom:18px;
  border:1px dashed #CCC;
  font-size:16px;
  width:318px;
  height:66px;
  line-height:66px;
  overflow:hidden;
  transition:all ease-out 0.3s;
  -moz-transition:all ease-out 0.3s;
  -webkit-transition:all ease-out 0.3s;
  cursor:pointer;
}

.questions li:hover{
  transform:translate(5px,5px);
  -webkit-transform:translate(5px,5px);
  -moz-transform:translate(5px,5px);
  transition:all ease-out 0.3s;
  -moz-transition:all ease-out 0.3s;
  -webkit-transition:all ease-out 0.3s;
}

.questions li span{
  display:inline-block;
  float:left;
  width:56px;
  height:66px;
}

.questions li .icon1{
  background:url("../images/icon_1.jpg") 10px 10px no-repeat;
}

.questions li .icon2{
  background:url("../images/icon_2.jpg") 10px 10px no-repeat;
}

.questions li .icon3{
  background:url("../images/icon_3.jpg") 10px 10px no-repeat;
}

.questions li .icon4{
  background:url("../images/icon_4.jpg") 10px 10px no-repeat;
}

.questions li .icon5{
  background:url("../images/icon_5.jpg") 10px 10px no-repeat;
}

.questions li .icon6{
  background:url("../images/icon_6.jpg") 10px 10px no-repeat;
}

.questions li .icon7{
  background:url("../images/icon_7.jpg") 10px 10px no-repeat;
}

.questions li .icon8{
  background:url("../images/icon_8.jpg") 10px 10px no-repeat;
}

.questions li .icon9{
  background:url("../images/icon_9.jpg") 10px 10px no-repeat;
}

.questions li .icon10{
  background:url("../images/icon_10.jpg") 10px 10px no-repeat;
}

.questions li .icon11{
  background:url("../images/icon_11.jpg") 10px 10px no-repeat;
}


.questions li p{
  float:left;
  margin-left:15px;
}
/*提升学历这些你可能更关注 结束*/

/*本周优惠*/
.part17{
	width:100%;
	height:453px;
	margin-top: -50px;
	background:url("../images/17_36.png") no-repeat center center;
}
.p17-m{
	width:1176px;
	height:453px;
	margin:0 auto;
}
.p17-left{
	width:655px;
	height:380px;
	padding-top:73px;
	padding-left:96px;
	float:left;
}
.p17-right{
	width:364px;
	height:453px;
	float:left;
}
.p17-l{
	width:100%;
	height:86px;
	line-height:86px;
	font-size:44px;
}
.p17-s{
	width:84px;
	height:84px;
	display:inline-block;
	border:2px solid #ffff00;
	color:#ffff00;
	text-align:center;
	line-height:86px;
	margin-left:15px;
	margin-right:15px;
}
.p17-lun{

	width:272px;
	height:116px;
	padding:5px 0;
	border:2px solid #fff;
	margin-top:10px;
	margin-left:60px;
	overflow:hidden;
}
#demo{
	width:100%;
	height:100%;
	overflow:hidden;
}
#demo li{
	width:100%;
	color:#fff;
	line-height:30px;
	font-size:20px;
	text-align:center;
}
.p17-me{
	display:block;
	width:206px;
	height:54px;
	line-height:54px;
	text-align:center;
	border-radius:10px;
	background:#ffff00;
	color:black;
	font-size:32px;
	margin-top:17px;
	margin-left:92px;
}
/*本周优惠 结束*/

/*如何分期付款*/
.instalment {
	background: url("../images/instalment-bg.jpg") no-repeat center;
	height: 838px;
}

.instalment-con {
	background: url("../images/instalment-con.png") no-repeat center 0;
	width: 597px;
	margin: 78px auto 0;
}

.instalment-title {
	font-size: 55px;
	color: #2c2f3c;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.instalment-word {
	font-size: 20px;
	color: #4b4b4b;
	font-weight: 600;
	margin: 82px 0 0 0;
}

.instalment-mar1 {
	margin-left: 16px;
}

.instalment-mar2 {
	margin-left: 88px;
}

.instalment-mar3 {
	margin-left: 84px;
}

.instalment-mar4 {
	margin-left: 38px;
}

.instalment-word>span>b {
	color: #df4a43;
}

.instalment-stitle {
	background: url("../images/instalment-stitle.png") no-repeat center 0;
	height: 70px;
	text-indent: -9999px;
	margin: 40px 0 0 0;
}

.instalment-btn {
	background: transparent;
	width: 260px;
	height: 58px;
	border: #2c2f3c 1px dashed;
	display: block;
	font-size: 16px;
	color: #2c2f3c;
	font-weight: 600;
	margin: 59px auto 0;
}
.instalment-btn:hover{
	background:#2c2f3c;
	color: #fff;
}
.instalment-apply {
	background: url("../images/instalment-btn-bg.png") no-repeat center 0;
	width: 288px;
	margin: 60px auto 0;
	padding-top: 156px;
	position: relative;
}

.instalment-apply-btn {
	background: url("../images/instalment-btn.png") no-repeat center 0;
	width: 90px;
	height: 97px;
	display: block;
	margin: 0 auto;
	border: none;
}

.instalment-hand {
	position: absolute;
	bottom: 6px;
	right: 100px;
}
/*如何分期付款 结束*/

/*如何分期付款*/
.quality {
	background: url("../images/quality-bg.jpg") no-repeat center;
	height: 780px;
}

.quality-title {
	width: 1199px;
	height: 216px;
	margin: -2px auto 0;
	font-size: 56px;
	color: #fff;
	font-weight: bold;
	padding: 53px 0 0 250px;
}

.quality-con {
	width: 1200px;
}

.quality-bottom {
	width: 1199px;
	margin: 8px auto 0;
}

.quality-left {
	background: url("../images/quality-left.jpg") no-repeat 0 0;
	height: 370px;
	width: 781px;
	float: left;
	padding-top: 64px;
}

.quality-mar1 {
	margin-left: 122px;
}

.quality-mar2 {
	margin-left: 76px;
}

.quality-right {
	background: url("../images/quality-right.jpg") no-repeat 0 0;
	height: 370px;
	width: 418px;
	float: right;
	padding-top: 64px;
}

.quality-right-title {
	background: url("../images/quality-circle2.png") no-repeat center 0;
	height: 243px;
	padding: 94px 0 0 0;
}

.quality-h3 {
	background: #252730;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 30px;
	color: #df4a43;
	font-weight: bold;
	margin: 0;
}
/*如何分期付款 结束*/

/*带你进一步解析通过率*/
.part4{width:auto;background:#fff;text-align:center;padding-top:20px;padding-bottom:30px;background:url("../images/") no-repeat;background-position:0 100%;}
.part4-con{width:1200px;margin:0 auto;}
.lyl1{width:700px;height:190px;padding-left:100px;padding-top:44px;padding-bottom:30px;background:#f0f0f0;text-align:left;position:relative;left:344px;top:50px;transition: all 0.2s ease-in-out;}
#jiuni{position:absolute;left:-312px;top:30px;}
.lyl1 h1{font-size:25px;line-height:28px;color:#252525;}
.lyl1 p{font-size:22px;line-height:62px;color:#6c6c6c;}
.lyl1 a{display:block;width:52px;height:52px;border:1px solid #000;border-radius:26px;text-align:center;overflow:hidden;position:relative;left:386px;top:25px;}
.lyl1 a>img{vertical-align:middle;margin-top:18px;position:absolute;left:10px;}
.lyl1:hover{background:#e7e7e7;}
.lyl1:hover a>img{left:8px;animation:mymove 1s ease infinite;animation-iteration-count:2;}
@keyframes mymove
{
from {left:-50px;}
to {left:8px;}
}
.part4-con ul{width:100%;margin:0 auto;margin-top:112px;}
.part4-con li{width:580px;height:174px;text-align:left;margin-top:46px;float:left;}
.icon-con1{width:102px;height:102px;background:#efefef url("../images/lyl02.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.icon-con2{width:102px;height:102px;background:#efefef url("../images/lyl03.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.icon-con3{width:102px;height:102px;background:#efefef url("../images/lyl04.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.icon-con4{width:102px;height:102px;background:#efefef url("../images/lyl05.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.icon-con5{width:102px;height:102px;background:#efefef url("../images/lyl06.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.icon-con6{width:102px;height:102px;background:#efefef url("../images/lyl07.png") no-repeat;background-position:30px 25px;float:left;text-align:center;transition: all 0.4s ease-in-out;}
.wenadr{width:478px;height:174px;float:right;padding:24px 38px;transition: all 0.4s ease-in-out;position:relative;}
.wenadr h1{font-size:23px;line-height:28px;color:#252525;transition: all 0.4s ease-in-out;}
.wenadr p{font-size:20px;line-height:32px;margin-top:15px;color:#6c6c6c;transition: all 0.4s ease-in-out;}
.wenadr a{display:block;width:52px;height:52px;border:none;border-radius:26px;text-align:center;overflow:hidden;position:relative;left:342px;top:-24px;}
.wenadr a>img{vertical-align:middle;margin-top:18px;position:absolute;left:10px;}
.part4-con li:hover .wenadr>h1{color:#fff;}
.part4-con li:hover .wenadr>p{color:#dadada;}
.part4-con li:hover .wenadr{background:#202020;}
.part4-con li:hover .icon-con1{background:#e00f19 url("../images/lyl2.png") no-repeat;background-position:30px 25px;}
.part4-con li:hover .icon-con2{background:#e00f19 url("../images/lyl3.png") no-repeat;background-position:30px 25px;}
.part4-con li:hover .icon-con3{background:#e00f19 url("../images/lyl4.png") no-repeat;background-position:30px 25px;}
.part4-con li:hover .icon-con4{background:#e00f19 url("../images/lyl5.png") no-repeat;background-position:30px 25px;}
.part4-con li:hover .icon-con5{background:#e00f19 url("../images/lyl6.png") no-repeat;background-position:30px 25px;}
.part4-con li:hover .icon-con6{background:#e00f19 url("../images/lyl7.png") no-repeat;background-position:30px 25px;}
.wenadr:hover a{border:1px solid #fff;}
.wenadr:hover a>img{left:8px;animation:mymove 1s ease infinite;animation-iteration-count:2;}
@keyframes mymove
{
from {left:-50px;}
to {left:8px;}
}
.bnt{display:block;width:286px;height:46px;padding:0 20px;margin:0 auto;margin-top:65px;border:2px solid #878787;border-radius:23px;font-size:24px;color:#434343;line-height:42px;transition: all 0.4s ease-in-out;}
.bnt:hover{border:2px solid #e74747;color:#000;}

/*专业的报考指导,帮您提高通过率*/
.part14{
	padding-top:50px;
	width:100%;
	background:#fff;
}
.part14 li{
	width:1040px;
	height:320px;
	margin:0 auto;
}
.p14-tit{
	color:#33333;
	font-size:24px;
	width:985px;
	height:60px;
	padding-top:10px;
	padding-left:55px;
	background:url("../images/14_1.jpg")no-repeat center left;
}
.p14-m{
	width:1040px;
	height:196px;
	overflow:hidden;
}
.p14-left{
	display:block;
	width:294px;
	height:196px;
	float:left;
	opacity:0.9;
}
.p14-left:hover{
	opacity:1;
}
.p14-right{
	width:566px;
	height:196px;
	padding-left:46px;
	float:left;
}
.p14-right h1{
	font-size:18px;
	color:#00b596;
	line-height:33px;
}
.p14-line{
	display:inline-block;
	padding-bottom:5px;
	font-size:16px;
	border-bottom:1px dashed #333333;
}
.p14-normal{
	padding-bottom:5px;
	font-size:16px;
}
.p14-ra{
	width:176px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#00b596;
	color:#fff;
	display:block;
	margin-top:5px;
}
.p14-t2{
	background:url("../images/14_2.jpg")no-repeat center left;
}
.p14-ra2{
	margin-top:50px;
}
.p14-t3{
	background:url("../images/14_3.jpg")no-repeat center left;
}
.p14-t4{
	background:url("../images/14_3.jpg")no-repeat center left;
}
.p14-ra4{
	margin-top:40px;
}
.p14-r-s{
	width:131px;
	height:177px;
	float:left;
}
/*专业的报考指导,帮您提高通过率 结束*/

/*入学前导规划*/
.part8{width:auto;text-align:center;background:#f7f7f7;}
.part8-con{width:1200px;margin:0 auto;height:300px;}
.part8-con ul{width:288px;float:left;}
.part8-con li{width:288px;height:308px;padding:58px 25px;text-align:left;}
.color01{background:#ff6f4d url("../images/icon81.png") no-repeat;background-position:122px 180px;transition: all 0.4s ease-in-out;}
.color01:hover{background:#fd6743 url("../images/icon81.png") no-repeat;background-position:122px 180px;}
.color02{background:#544947 url("../images/icon82.png") no-repeat;background-position:122px 180px;transition: all 0.4s ease-in-out;}
.color02:hover{background:#5a4a47 url("../images/icon82.png") no-repeat;background-position:122px 180px;}
.color03{background:#414247 url("../images/icon83.png") no-repeat;background-position:105px 138px;transition: all 0.4s ease-in-out;}
.color03:hover{background:#3c3e43 url("../images/icon83.png") no-repeat;background-position:105px 138px;}
.color04{background:#5bacca url("../images/icon84.png") no-repeat;background-position:122px 180px;transition: all 0.4s ease-in-out;}
.color04:hover{background:#4ba7c9 url("../images/icon84.png") no-repeat;background-position:122px 180px;}
.part8-con li>p{font-size:35px;color:#fff;line-height:40px;}
.part8-con li>span{display:block;font-size:13px;color:#fff;line-height:21px;margin-top:20px;}
.part8-con li>a{display:block;width:44px;height:44px;margin-top:24px;border:1px solid #fff;border-radius:22px;text-align:center;vertical-align:middle;position:relative;overflow:hidden;}
.part8-con a>img{vertical-align:middle;position:absolute;left:10px;}
.part8-con li:hover img{left:10px;animation:mymove 1s ease infinite;animation-iteration-count:2;}
@keyframes mymove
{
from {left:-50px;}
to {left:10px;}
}
.middle-con{width:618px;height:616px;background:url("../images/8bg.jpg") no-repeat center;float:left;}
.middle-con h1{font-size:34px;color:#333;text-align:right;margin-top:60px;margin-right:44px;}
.middle-con p{font-size:34px;color:#333;text-align:right;margin-right:44px;}
.middle-con a{display:block;width:182px;height:40px;border:2px solid #fff;font-size:25px;color:#fff;line-height:40px;text-align:center;margin-top:20px;margin-left:390px;}
.middle-con a:hover{background:rgba(255,255,255,0.7);color:#66a55a;}
/*入学前导规划 结束*/
.jz-con{
width:100%;
height:505px;
 position: relative;
    overflow: hidden;
 background: url(../images/bg_05.png)repeat;
}

.jz-content{
    width: 1000px;
    height: 505px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

   
}
.jz-left{
    width:806px;
    height:505px;
    position:absolute;
    left:25px;
    top:0px;
}

.jz-button{
    width:190px;
    height:50px;
    background:#ff3300;
    border-radius: 5px;
    color:#fff;
    text-align:center;
    line-height:50px;
    font-size:32px;
    margin-top:50px;
}
.jz-title{
    color:#000000;
    font-size:36px;
    margin-top:20px;
}
.jz-line{
    background: url("../images/jz-line.png") no-repeat;
    width:806px;
    height:20px;
    margin-top:20px;
}
.jz-tishi{
    font-size:16px;
    color:#000000;
    margin-top:20px;

}
.jz-tishi1{
    clear:both;
    font-size:14px;
    color:#000000;
    line-height:24px;
    padding-top:20px;
}
.jz-tishi2{
    font-size:14px;
    color:#ff3300;
}
.jz-sy{
    font-size:26px;
    color:#ff3300;
    margin-top:20px;
}
.jz-sy-num{
    margin-top:20px;
}
.jz-sy-num span{
    font-size: 26px;
    color: #000000;
    position: relative;
    left: 6px;
    top: 40px;
}
.jz-sy-num .num{
    display:block;
    width:80px;
    height:80px;
    background:#000;
    color:#fff;
    line-height:80px;
    float:left;
    text-align:center;
    font-size:46px;
}
.plane{
    background: url("../images/plane.png") no-repeat;
    width:230px;
    height:110px;
    position:absolute;
    left:130px;
    top:280px;
}
.jz-right{
    width:300px;
    height:450px;
    position:absolute;
    right:20px;
    top:60px;
}
.jz-right .img-box{
    width:300px;
    clear:both;
}
.jz-right .img-box img{
    display:inline-block;
    width:150px;
    height:150px;
    float:left;
}




/*box-fixed start*/
.fl{
	float:left;
}
.fr{
	float: right;
}
.clearfix:after{
  content:"";
  display: block;
  clear: both;
}
.bot-fixed{
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    box-sizing: border-box;
    z-index:1000;
}
.bot-main {
    width: 1000px;
    margin: 0 auto;
}
.bot-text {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}
.bot-plan{
    color: yellow;
    font-size: 20px;
}
.bot-plan span {
   font-size: 20px;
}
.bot-msg {
    width: 700px;
    height: 45px;
    margin: 10px 0 0 40px;
}
/*box-fixed ending*/
