@charset 'UTF-8';
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.no-ml{
	margin-left:0!important;
}
.no-mt{
	margin-top:0!important;
}
.no-bl{
	border-left: none!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	width: 7.5rem;
	margin: 0 auto;
}
header{
	font-size: 0.44rem;
	color: rgb( 67, 103, 188 );
	font-weight: bold;
	line-height: 1.2rem;
	text-align: center;
	letter-spacing: 0.05rem;
}
.s1{
	padding: 0.5rem 0;
}
.s-titl{
	font-size: 0.36rem;
	color: rgb( 0, 0, 0 );
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.03rem;
}
.s-subt{
	font-size: 0.26rem;
	color: rgb( 67, 103, 188 );
	text-align: center;
	margin-top: 0.2rem;
}
.s1-ways{
	padding: 0 0.2rem;
}
.s1-way{
	width: 1.7rem;
	height: 1.4rem;
	padding-top: 0.95rem;
	font-size: 0.24rem;
	color: rgb( 67, 103, 188 );
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0.2rem 0 0 0.1rem;
	letter-spacing: 0.01rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.s1-way1{
	background: url(../images/yd_02.png) no-repeat center;
	background-size: contain;
}
.s1-way2{
	background: url(../images/yd_03.png) no-repeat center;
	background-size: contain;
}
.s1-way3{
	background: url(../images/yd_04.png) no-repeat center;
	background-size: contain;
}
.s1-way4{
	background: url(../images/yd_05.png) no-repeat center;
	background-size: contain;
}
.s1-items{
	padding: 0 0.3rem;
}
.s1-item{
	width: 2.1rem;
	float: left;
	margin: 0.2rem 0 0 0.3rem;
}
.s1-item dt{
	font-size: 0.32rem;
	color: rgb( 0, 0, 0 );
	font-weight: bold;
	text-align: center;
	line-height: 0.64rem;
}
.s1-item dd{
	font-size: 0.26rem;
	color: rgb( 255, 255, 255 );
	line-height: 0.5;
	text-align: center;
	line-height: 0.8rem;
	border-radius: 8px;
	background-image: -moz-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	margin-top: 0.1rem;
	letter-spacing: 0.03rem;
	font-weight: bold;
}
.s2-item{
	padding: 0 0.15rem;
	margin-top: 0.7rem;
}
.s2-item h3{
	font-size: 0.32rem;
	color: rgb( 67, 103, 188 );
	font-weight: bold;
	line-height: 0.5rem;
	margin-top: 0.2rem;
}
.s2-item p{
	font-size: 0.28rem;
	color: rgb( 0, 0, 0 );
	line-height:0.5rem;
}
.s-btn{
	width: 7.2rem;
	margin: 0.2rem auto 0;
	border-radius: 8px;
	background-image: -moz-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	background-image: linear-gradient( 0deg, rgb(59,96,184) 0%, rgb(166,193,238) 100%);
	font-size: 0.32rem;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	line-height:0.88rem;
	text-align: center;
	letter-spacing: 0.05rem;
}
.s2-iframe{
	height: 340px;
}
.iframe-titl{
	font-size: 0.36rem;
	color: rgb( 0, 0, 0 );
	font-weight: bold;
	text-align: center;
	line-height: 0.5rem;
	margin: 0.5rem 0 0.2rem;
}
.s3{
	    background: #eeeeee82;
}
.s3-iframe{
	height: 170px;
}
.s4-div{
	padding: 0 0.15rem;
	margin: 0.4rem 0;
}
.s4{
	padding-top: 0.6rem;
}
.s4-txt{
	width: 3.6rem;
}
.s4-txt p{
	font-size: 0.26rem;
	color: rgb( 0, 0, 0 );
	line-height: 0.4rem;
	letter-spacing: 0.02rem;
	text-indent: 2em;
    padding-top: 0.2rem;
}
.s4-txt span{
	font-size: 0.28rem;
	color: #ff0000;
	font-weight: bold;
}
.s4-pic{
	width: 3.4rem;
}
.s4-iframe{
	height: 360px;
}
.copyright{
	font-size: 14px;
	color: #333;
	text-align: center;
	padding: 10px 0;
}

