@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left:0!important;
}
.no-mt{
  margin-top:0!important;
}
.no-bl{
  border-left: none!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
body{
  width:7.5rem;
  margin:0 auto;
  height: 100%;
  background: url(../images/yd_01.jpg) no-repeat center;
  background-size: cover;
}
/*pop 弹窗 start*/
.popup{
  width: 6.5rem;
  height: 8.2rem;
  background: url(../images/yd_05.png) no-repeat center;
  background-size: cover;
  position: fixed;
  left: 50%;
  margin-left: -3.25rem;
  top:50%;
  margin-top: -4.1rem;
  padding-top: 2.0rem;
  display: none;
}
.pop-iframe{
  height: 240px;
}
.pop-close{
  width: 0.48rem;
  height: 0.48rem;
  background: url(../images/yd_06.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0.1rem;
  top:0.1rem;
  font-size: 0.4rem;
  color: #000;
  text-align: center;;
  line-height: 0.6rem;
}
.pop-getmsg{
  font-size: 0.26rem;
  color: rgb( 79, 77, 77 );
  text-align: center;
}
/*pop 弹窗 ending*/
.s-titl-box{
  text-align: center;
}
.s-titl{
  display: inline-block;
  font-size: 0.72rem;
  color: rgb( 255, 255, 255 );
  line-height: 1.0rem;
  text-align: center;
  padding: 0.3rem 0.2rem 0.2rem;
  border-bottom: 0.05rem solid #f9fafa;
  letter-spacing: 0.02rem;
}
.s-p1{
  font-size: 0.4rem;
  color: rgb( 255, 255, 255 );
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
}
.s-dl{
  padding: 0 1.0rem;
}
.s-dl dd{
  padding-left: 0.4rem;
  font-size: 0.28rem;
  color: rgb( 31, 51, 76 );
  line-height:0.3rem;
  letter-spacing: 0.02rem;
}
.s-dd1{
  background: url(../images/yd_02.png) no-repeat left;
  background-size: 0.3rem;
}
.s-dd2{
  background: url(../images/yd_03.png) no-repeat left;
  background-size: 0.3rem;
}
.s-p2{
  font-size: 0.3rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.8rem;
  text-align: center;
  font-weight: normal;
}
.s-p3{
  width: 7.0rem;
  margin: 0 auto;
  font-size: 0.48rem;
  color: rgb( 31, 51, 76 );
  font-weight: bold;
  line-height: 1.1rem;
  text-align: center;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  letter-spacing: 0.08rem;
}
.s-p4{
  font-size: 0.36rem;
  color: rgb( 255, 255, 255 );
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
}
.s-time{
  font-size: 0.36rem;
  color: #336699;
  text-align: center;
}
.s-time span{
  display: inline-block;
  width: 1.35rem;
  height: 1.35rem;
  background: #fff;
  border: 2px solid #336699;
  border-radius: 5px;
  font-size: 0.8rem;
  color: rgb( 31, 51, 76 );
  line-height: 1.35rem;
  margin: 0 0.1rem;
}
.s-p5{
  width: 3.27rem;
  height: 3.27rem;
  background: url(../images/yd_04.png) no-repeat center;
  background-size: contain;
  font-size: 0.42rem;
  color: rgb( 255, 255, 255 );
  text-align: center;
  letter-spacing: 0.02rem;
  padding: 1.05rem 0;
  margin: 0.3rem auto 0;
}
.copyright{
  font-size: 14px;
  color: #333;
  text-align: center;
  line-height: 24px;
  padding: 50px 0 5px;
}