.no-bb{
  border-bottom:0!important;
}
.no-bl{
  border-left:0!important;
}
.no-br{
  border-right:0!important; 
}
.no-ml{
  margin-left:0!important;
}
body{
 width:100%;
 max-width: 750px;
 margin: 0 auto;
}
.bottom-nav{
  max-width: 750px;
  position: fixed;
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom:0;
}
.copyright{
  font-size:14px;
  color:#000;
  padding:10px 0 60px;
  text-align: center;
}