
body{
 width:100%;
 max-width: 750px;
 margin: 0 auto;
 background: #e8e8e8;
 padding-top:0.8rem;
}
nav{
  width: 100%;
  max-width: 750px;
  height: 0.8rem;
  background:#333333;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top:0;
  z-index: 100;
}
nav a{
  width: 25%;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  letter-spacing: 0.02rem;
  float: left;
}
.s0{
  background: #333333;
}
.s0-items{
  width: 90%;
  margin:0 auto;  
  font-size:0;
  text-align: center;
  padding:0.15rem 0;
}
.s0-item{
  display: inline-block;
  width:22%;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.34rem;
  border-left:1px solid #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s0-item1{
  width:12%;
}
.has-br{
  border-right:1px solid #ffffff;
}
.s1-items{
  width: 94%;
  margin: 0 auto;
}
.s1-li{
  width:50%;
  margin: 0 auto;
  float: left;
  margin-top:0.4rem;
}
.s1-item{
  width: 86%;
  margin:0 auto;
  background: rgb( 255, 255, 255 );
  border: 1px solid rgb( 102, 102, 102 );
  padding: 0.2rem 0;
}
.s1-cir{
  width: 1.64rem;
  height: 1.64rem;
  border-radius: 50%;
  padding:0.08rem;
  margin:0 auto;
}
.s1-cir1{
  border: 1px solid #fe3a5d;
}
.s1-cir2{
  border: 1px solid #3a88fe;
}
.s1-cir3{
  border: 1px solid #ef8d24;
}
.s1-cir4{
  border: 1px solid #887eff;
}
.s1-cir h2{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0.3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  padding-top: 0.3rem;
}
.s1-cir1 h2{
 background: #fe3a5d;
}
.s1-cir2 h2{
 background: #3a88fe;
}
.s1-cir3 h2{
 background: #ef8d24;
}
.s1-cir4 h2{
 background: #887eff;
}
.s1-item h3{
  font-size: 0.26rem;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  line-height: 0.5rem;
}
.s1-item p{
  font-size: 0.22rem;
  color: rgb(88, 87, 87);
  text-align: center;
  line-height: 0.4rem;
}
.s-btn{
  width: 65%;
  margin:0.35rem auto 0;
  border-radius: 5px;
  background-color: rgb( 243, 67, 52 );
  font-size: 0.3rem;
  color: rgb( 255, 255, 255 );
  line-height:0.6rem;
  text-align: center;
}
.s2{
  margin-top:0.4rem;
}
.s2-items{
  width:96%;
  margin:0 auto;
  margin-top:0.2rem;
}
.s2-li{
  width:33.33%;
  float: left;
  margin-top:0.15rem;
}
.s2-item{
  width:90%;
  margin:0 auto;
  border: 1px solid #7d7d7d;
}
.s2-pic{
  width: 35%;
  height: 0.8rem;
  padding-top:0.1rem;
  border-right:1px solid #7d7d7d;
  float: left;
}
.s2-pic img{
  width:80%;
  margin:0 auto;
}
.s2-txt{
  width:65%;
  font-size: 0.22rem;
  color: rgb( 243, 67, 52 );
  font-weight: bold;
  text-align: center;
  padding: 0.1rem 0;
  float: left;
  line-height: 0.3rem;
}
.s2-txt1{
  padding:0;
  line-height: 0.8rem;
}
.s3{
  margin-top:0.4rem;
}
.s3-items{
  width: 90%;
  margin:0.2rem auto 0;
}
.s3-li{
  width: 33.33%;
  margin:0.2rem auto 0;
  float: left;
}
.s3-item{
  width: 90%;
  margin:0 auto;
  border-radius: 5px;
  font-size: 0.3rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.6rem;
  text-align: center;
}
.s3-itemr{
  background:#f34334;
}
.s3-itemb{
  background: #006dbe;
}
.s3-itemy{
  background:#f77d06;
}
.s4{
  margin-top:0.4rem;
}
.s4-item{
  width: 90%;
  margin:0 auto;
  font-size: 0.3rem;
  color: #000;
  line-height: 0.6rem;
  text-align: center;
}
.s4-itemr{
  border: 1px solid #f34334
}
.s4-itemb{
  border: 1px solid #006dbe;
}
.s4-itemy{
  border: 1px solid #f77d06;
}
.s5{
  margin-top:0.4rem;
}
.s5-item{
  width: 90%;
  margin:0 auto;
  border: 1px solid #666666;
  padding:0.15rem 0 0.2rem;
  text-align: center;
  font-size:0;
}
.s5-icon{
  width: 0.5rem;
  margin:0 auto;
}
.s5-item h3{
  font-size: 0.24rem;
  color: rgb( 243, 67, 52 );
  font-weight: bold;
  line-height: 0.5rem;
  text-align: center;
}
.s5-item a{
   display: inline-block;
   padding:0 0.1rem;
   line-height: 0.44rem;
   border-radius: 5px;
   background-color: rgb( 49, 49, 49 );
  font-size: 0.18rem;
  color: rgb( 255, 255, 255 );
  text-align: center;
}
.s6{
  margin-top:0.4rem;
}
.s6-item{
  margin-top:0.2rem;
}
.s6-item1{
   background: #e0e0e0; 
}
.s6-item2{
  background: #c8c8c8;
}
.s6-qus{
  width: 68%;
  font-size: 0.34rem;
  color: rgb( 102, 102, 102 );
  line-height: 0.68rem;
  padding-left:0.08rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  float: left;
}
.s6-but{
    width: 32%;
     font-size: 0.34rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.68rem;
  text-align: center;
  float: right;
}
.s6-item1 .s6-but{
 background: #cd4850;
}
.s6-item2 .s6-but{
  background: #7e2c31;
}
.s7{
  margin-top:0.4rem;
}
.s7-item{
  width: 95%;
  margin:0 auto;
  padding: 0.1rem 0 0.4rem;
  box-shadow: 1px 1px 5px #808080;
}
.s7-item1{
  background: #ffc603;
  margin-top: 0.6rem;
}
.s7-item2{
  background: #f95a08;
}
.s7-item3{
  margin-top: 0.6rem;
  background: #079bfb;
}
.s7-item h3{
 font-size: 0.28rem;
 line-height: 0.6rem;
 text-align: center;
}
.s7-item1 h3{
 color: #000;
 border-bottom: 1px #906e14 dashed;
}
.s7-item2 h3{
 color: #fff000;
 border-bottom: 1px #fff dashed;
}
.s7-item3 h3{
 color: #fff;
 border-bottom: 1px #fff dashed;
}
.s7-item p{
 font-size: 0.22rem;
 text-align: center;
 line-height: 0.44rem;
 padding: 0.1rem 0;
}
.s7-item1 p{
 color: #000;  
}
.s7-item2 p{
color: #fff;  
}
.s7-item3 p{
color: #fff;  
}
.s7-item h4{
  font-size: 0.26rem;
  color: #000000;
  text-align: center;
  line-height: 0.44rem;
  background: rgba(255,255,255,0.5);
}
.s7-item a{
  width: 1.8rem;
  margin: 0.2rem auto 0;
  background: #ffffff;
  border-radius: 2px;
  font-size: 0.24rem;
  color: #000000;
  line-height: 0.6rem;
  text-align: center;
}
.s8{
  margin-top:0.4rem;
}
.s9{
  background: #333333;
}
.s9 .s0-item{
  width:25%;
}
.copyright{
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  text-align: center;
}
