@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left:0!important;
}
.no-mt{
  margin-top:0!important;
}
.no-bl{
  border-left: none!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.no-mt{
  margin-top:0!important;
}
body{
  width:7.5rem;
  margin:0 auto;
  padding-top: 1.2rem;
}
nav{
  height: 1rem;
  padding: 0.2rem 0;
  background:#445252;
  position: fixed;
  left: 50%;
  margin-left: -3.75rem;
  top:0;
  z-index: 100;
}
nav a{
  width: 1.875rem;
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
  border-left: 1px solid rgba(255,255,255,0.5);
  letter-spacing: 0.02rem;
  float: left;
}
.s0{
  padding-top: 0.1rem;
}
.s0 a{
  margin:0.4rem auto 0;
}
.s-btn{
  width: 6.0rem;
  height: 1rem;
  margin: 0 auto;
  background: rgb( 255, 118, 90 );
  font-size: 0.32rem;
  color: rgb( 255, 255, 255 );
  line-height:1rem;
  text-align: center;
  letter-spacing: 0.05rem;
}
.s1{
  background: rgba( 255, 242, 221,0.302);
  padding:0.2rem 0 0.3rem;
  margin-top: 0.5rem;
}
.s-head{
  font-size: 0.24rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.4rem;
  text-align: center;
  background: url(../images/yd_02.png) no-repeat center;
  background-size: contain;
}
.s-titl{
  font-size: 0.4rem;
  color: rgb( 68, 82, 82 );
  font-weight: bold;
  text-align: center;
  margin-top: 0.36rem;
  letter-spacing: 0.03rem;
}
.s1-note{
  width:6.1rem;
  margin: 0.3rem auto 0; 
  border: 0.03rem solid rgb( 231, 58, 56 );
  padding: 0.3rem 0 0.3rem 0.5rem;
  font-size: 0.28rem;
  color: rgb( 231, 58, 56 );
  line-height: 0.6rem;
  text-align: left;
  letter-spacing: 0.05rem;
  position: relative;
}
.s1-note span{
  width: 0.5rem;
  padding: 0.15rem 0;
  background: rgb( 231, 58, 56 );
  font-size: 0.28rem;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 0.4rem;
  position: absolute;
  left: -0.25rem;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.s1-endline{
  font-size: 0.36rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.4rem;
  text-align: center;
  margin-top: 0.45rem;
}
.s1-time{
  text-align: center;
  font-size: 0;
  margin-top: 0.3rem;
}
.s1-time span{
  display: inline-block;
  width: 2.29rem;
  height: 2.82rem;
  font-size:1.2rem;
  color: rgb( 255, 118, 90 );
  text-align: center;
  padding-top: 0.6rem;
}
.s1-time .month{
  background: url(../images/yd_03.png) no-repeat center;
  background-size: contain;
}
.s1-time .date{
  background: url(../images/yd_04.png) no-repeat center;
  background-size: contain;
  margin-left: 0.9rem;
}
.s1-p1{
  font-size: 0.28rem;
  color: rgb( 74, 87, 87 );
  text-align: center;
  margin-top: 0.5rem;
}
.s1-p2{
  font-size: 0.28rem;
  color: rgb( 231, 58, 56 );
  text-align: center;
  font-weight: bold;
  margin-top: 0.3rem;
}
.s1-btn{
  margin:0.3rem auto 0;
}
.s2{
  padding: 0.45rem 0 0.3rem;
}
.s2-items{
  padding: 0.3rem 0.5rem;
}
.s2-item{
  width: 3.0rem;
  border: 1px solid rgb( 68, 82, 82 );
  float: left;
  font-size: 0.32rem;
  color: rgb( 68, 82, 82 );
  line-height: 1.0rem;
  text-align: center;
  margin: 0.2rem 0 0 0.5rem;
}
.s2-red{
  color: #e73a38;
  border: 1px solid #e73a38;
}
.s2-subt{
  font-size: 0.36rem;
  color: rgb( 68, 82, 82 );
  text-align: center;
  line-height: 0.66rem;
}
.s2-areas{
  padding: 0 0.62rem;
}
.s2-area{
  width: 1.0rem;
  font-size: 0.28rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.66rem;
  text-align: center;
  float: left;
  margin-left: 0.75rem;
}
.s2-more{
  color: #e73a38;
}
.s2-iframe{
  width: 6.1rem;
  height: 170px;
  margin: 10px auto 0;
}
.s3{
  background: rgba( 255, 242, 221,0.302);
  padding: 0.4rem 0 0.25rem;
}
.s3-items{
  padding: 0.25rem 0.3rem;
}
.s3-item{
  width: 2.2rem;
  height: 2.0rem;
  position: relative;
  float: left;
  margin:0.15rem 0 0 0.15rem;
}
.s3-text{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  padding-top:0.4rem;
}
.s3-text h4{
  font-size: 0.28rem;
  color: rgb( 68, 82, 82 );
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s3-text p{
  font-size: 0.28rem;
  color: rgb( 231, 58, 56 );
  text-decoration: underline;
  text-align: center;
  margin-top: 0.4rem;
}
.s-inp{
  width: 6.0rem;
  height: 1.1rem;
  margin: 0 auto;
}
.s-inp input{
  display: block;
  width: 100%;
  font-size: 0.32rem;
  color:#000;
  line-height: 1rem;
  padding-left: 0.3rem;
  background: rgba( 247, 228, 197,0.8 );
  border: none;
  outline: none;
}
.s-sea{
  margin-top: 0.2rem;
}
.s4{
  padding:0.35rem 0;
}
.s4-items{
  padding: 0.2rem 0.75rem 0.35rem;
}
.s4-item{
  width: 6.0rem;
  height: 0.8rem;
  background: url(../images/yd_17.png) no-repeat center;
  background-size: contain;
  margin-top: 0.2rem;
}
.s4-item dt{
  width: 2.4rem;  
  font-size: 0.3rem;
  color: rgb( 68, 82, 82 );
  text-align: center;
  line-height: 0.8rem;
  font-weight: bold;
  float: left;
}
.s4-item dd{
  width: 2.2rem;
  font-size: 0.3rem;
  color: rgb( 68, 82, 82 );
  text-decoration: underline;
  line-height: 0.8rem;
  float: right;
}
.s5{
  padding: 0.2rem 0 0.5rem;
}
.s5 .s-search{
  margin-top: 0.6rem;
}
.s6-div{
  height: 8.5rem;
  background: url(../images/yd_20.png) no-repeat center;
  background-size: contain;
  margin-top: 0.4rem;
  padding: 0.4rem 0.3rem 0;
}
.s6-item{
  margin-top: 0.2rem;
}
.s6-item dt{
  width: 5.2rem;
  font-size: 0.26rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.5rem;
  padding-left: 0.2rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s6-item dd{
  width: 1.7rem;
  font-size: 0.26rem;
  color: rgb( 231, 58, 56 );
  text-decoration: underline;
  line-height: 0.5rem;
  text-align: center;
  float: right;
}
.s6-total{
  font-size: 0.26rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.3rem;
}
.s6-num{
  display: inline-block;
  width: 2.25rem;
  height: 0.5rem;
  background: url(../images/yd_21.png) no-repeat center;
  background-size: contain;
  margin: 0 0.1rem;
  font-size: 0.28rem;
  color: rgb( 255, 255, 255 );
  letter-spacing: 0.28rem;
  padding: 0 0.2rem;
  line-height: 0.54rem;
}
.s7{
  padding:0.3rem 0 0.4rem;
  background: rgba( 255, 242, 221,0.302);
}
.s7 .s-titl{
  letter-spacing: 0;
}
.s7-pic{
  margin-top: 0.45rem;
}
.s7-endline{
  padding:0 0.25rem;
  margin-top: 0.5rem;
}
.s7-endline dt{
  width: 5.2rem;
  font-size: 0.26rem;
  color: rgb( 68, 82, 82 );
  line-height: 0.6rem;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s7-endline dd{
  width: 1.8rem;
  background: rgb( 231, 58, 56 );
  font-size: 0.24rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.6rem;
  text-align: center;
  float: right;
}
.s8{
  padding:0.3rem 0 0.15rem;
}
.s8-pic{
  margin-top: 0.4rem;
}
.s8-btn{
  margin-top: 0.36rem;
}
.s9{
  background: url(../images/yd_24.jpg) no-repeat center;
  background-size: cover;
  padding: 0.8rem 0;
}
.s9-pic{
  margin-top: 0.85rem;
}
.s9-iframe{
  width: 6.0rem;
  margin: 0.9rem auto 0;
  height: 245px;
}
.copyright{
  font-size: 14px;
  color: #445252;
  text-align: center;
  padding: 10px 0;
  background: #e5e5e5;
  margin-bottom: 1.2rem;
}
footer{
  height: 1.2rem;
  background:#445252;
  position: fixed;
  left: 50%;
  margin-left: -3.75rem;
  bottom:0;
  z-index: 100;
}
.fot-item{
  width: 2.5rem;
  float: left;
  border-left: 1px solid rgba(255,255,255,0.5);
  padding: 0.15rem 0 0.1rem;
}
.fot-icon{
  width: 0.4rem;
  margin: 0 auto;
}
.fot-icon2{
  position: relative;
}
.fot-icon2:before{
  content: "";
  display: block;
  width: 0.27rem;
  height: 0.27rem;
  background: url(../images/yd_29.gif) no-repeat center;
  background-size: contain;
  position: absolute;
  right:-0.2rem;
  top: -0.05rem;
}
.fot-slog{
  font-size: 0.32rem;
  color: #fff;
  text-align: center;
  line-height: 0.45rem;
  letter-spacing: 0.02rem;
  margin-top: 0.1rem;
}
