@charset 'UTF-8';
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.no-ml{
	margin-left:0!important;
}
.no-mt{
	margin-top:0!important;
}
.no-bl{
	border-left: none!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	width: 7.5rem;
	margin: 0 auto;
}
.s-titl{
  font-size: 0.36rem;
  color: rgb( 37, 35, 35 );
  margin-top: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  text-align: center;
}
.s1-div{
  width: 7.1rem;
  margin: 0.4rem auto 0;
  font-size: 0; 
}
.s-subt{
 display: inline-block;
}
.s-subt span{
  font-size: 0.28rem;
  color: rgb( 43, 42, 42 );
  font-weight: bold;
  border-bottom: 1px solid #252323;
  line-height: 0.4rem;
}
.s-subt1{
 margin-left: 0.3rem;
}
.s-subt2{
 margin-left: 4.0rem;
}
.s1-item{ 
  border: 1px solid #6f6f6f;
  margin-top: 0.2rem;
}
.s1-text{
  width: 3.3rem;
}
.s1-text p{
  font-size: 0.24rem;
  color: rgb( 37, 35, 35 );
  text-align: left;
  line-height: 0.24rem;
  margin: 0.24rem 0 0 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s1-icon{
  display: inline-block;
  width: 0.4rem;
  height: 0.24rem;
  background: url(../images/yd_04.png) no-repeat center;
  background-size: 0.2rem 0.2rem;
}
.s1-pic{
  width: 3.7rem;
  height: 1.9rem;
  padding-top: 1.1rem;
}
.s1-pic1{
  background: url(../images/yd_02.jpg) no-repeat center;
  background-size: contain;
}
.s1-pic2{
  background: url(../images/yd_03.jpg) no-repeat center;
  background-size: contain;
}
.s-btn{
  width: 2.5rem;
  border-radius: 5px;
  background-image: -moz-linear-gradient( -90deg, rgb(13,117,154) 0%, rgb(0,170,234) 0%, rgb(2,153,210) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(13,117,154) 0%, rgb(0,170,234) 0%, rgb(2,153,210) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(13,117,154) 0%, rgb(0,170,234) 0%, rgb(2,153,210) 100%);
  font-size: 0.26rem;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 0.6rem;
  margin:0 auto;
}
.s2-pic{
  width: 7.1rem;
  padding:0.5rem 0.4rem;
  background: url(../images/yd_05.jpg) no-repeat center;
  background-size: cover;
  font-size: 0.24rem;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 0.4rem;
  text-shadow: 0px 3px 3px rgb( 0, 0, 0 );
  letter-spacing: 0.03rem;
  margin: 0.5rem auto 0;
}
.s3-titl{
  background-color: #209ac7;
  font-size: 0.36rem;
  color: rgb( 255, 255, 255 );
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.02rem;
  font-weight: bold;
  margin-top: 0.4rem;
}
.s3-iframe{
  height: 490px;
  margin-top: 15px;
}
.copyright{
	font-size: 14px;
	color: #333;
	text-align: center;
	padding: 10px 0;
}

