.no-bb{
  border-bottom:0!important;
}
.no-bl{
  border-left:0!important;
}
.no-br{
  border-right:0!important; 
}
.no-ml{
  margin-left:0!important;
}
.no-mt{
  margin-top:0!important;
}
body{
 width:100%;
 max-width: 750px;
 margin: 0 auto;
 padding-top:0.7rem;
}
nav{
  width: 100%;
  background: #357de1;
  position: fixed;
  left:0;
  top: 0;
  z-index: 100;
}
nav a{
  width: 25%;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 0.7rem;
  letter-spacing: 0.02rem;
  float: left;
}
.s1{
  margin-top:0.4rem;
}
.s-titl{
  font-size: 0.36rem;
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  text-align: center;
}
.s-titl span{
  color:#f34334;
}
.s1-item{
  width:28%;
  float: left;
  margin:0.3rem 0 0 8%;
}
.s1-item p{
  font-size: 0.26rem;
  color: rgb( 51, 51, 51 );
  text-align: center;
}
.s-btn{
  width:53%;
  margin:0.4rem auto 0;
  font-size: 0.32rem;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 0.6rem;
  text-align: center;
  border-radius: 0.05rem;
  background-image: -moz-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
}
.s1-note{
  font-size: 0.24rem;
  color: #666666;
  text-align: center;
  padding: 0.1rem  0;
}
.s2{
  background: url(../images/yd_03.jpg) no-repeat center;
  background-size: cover;
  padding:0.3rem 0;
  margin-top:0.6rem;
}
.s2-pic{
  margin-top:0.3rem;
}
.s3{
  padding:0.4rem 0 0.3rem;
}
.s3-subt{
  font-size: 0.3rem;
  color: rgb( 34, 34, 34 );
  text-align: center;
}
.s3-subt span{
  color:#fe0000;
  font-style:italic;
}
.s3-items{
  width:84%;
  margin:0.3rem auto 0;
}
.s3-item{
 width:48%;
 border: 1px solid rgb( 94, 94, 94 );
 padding:0.2rem 0 0.5rem;
 float: left;
 margin:0.6rem 0 0 4%;
 position: relative;
}
.s3-item h4{
  font-size: 0.3rem;
  color:#357de1;
  text-align: center;
}
.s3-item span{
  color: rgb( 255, 0, 0 );
}
.s3-item p{
 font-size: 0.22rem;
  color: rgb( 51, 51, 51 );
  text-align: center;
  margin-top:0.1rem;
}
.s3-item a{
  width:78%;
  font-size: 0.3rem;
  color: rgb( 255, 255, 255 );
  line-height:0.6rem;
  text-align: center;
  background-image: -moz-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(25,90,180) 0%, rgb(71,147,251) 100%);
  position: absolute;
  left:50%;
  margin-left:-39%;
  bottom:-0.3rem;
}
.s3-btn{
  margin-top:0.78rem;
}
.s4{
  background: url(../images/yd_05.jpg) no-repeat center;
  background-size: cover;
  padding:0.3rem 0;
}
.s4-subt{
  font-size: 0.24rem;
  color: rgb( 51, 51, 51 );
  text-align: center;
}
.se-items{
  width:86%;
  margin:0 auto;
}
.s4-item{
  width:48%;
  float: left;
  padding-left:0.8rem;
  position: relative;
  margin:0.45rem 0 0 4%;
}
.s4-item p{
  width:100%;
  border:1px solid rgb( 194, 194, 194 );
  background-color: rgb( 243, 242, 242 );
  font-size:0.26rem;
  color: #222222;
  text-align: center;
  line-height: 0.8rem;
  padding-left:0.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s4-pic{
  width:1.1rem;
  height: 1.1rem;
  position: absolute;
  left:0;
  top:-0.15rem;
}
.s5{
  padding:0.3rem 0 0.4rem;
}
.s5-subt{
  font-size: 0.24rem;
  color:#333333;
  text-align: center;
  margin-top:0.1rem;
}
.s5-subt span{
  color: rgb( 255, 8, 8 );
  font-weight: bold; 
}
.s5-but{
  width:30%;
  border-radius: 0.1rem;
  font-size: 0.26rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.56rem;
  text-align: center;
  float: left;
  margin:0.2rem 0 0 5%;
}
.s5-deep{
background-color: rgb( 0, 66, 145 );
}
.s5-ligt{
background-color: #3a88fe;
}
.s6{
  background: url(../images/yd_08.jpg) no-repeat center;
  background-size:cover;
  padding:0.4rem 0;
}
.s6-iframe{
  width:50%;
  height: 100px;
  margin:0.2rem auto 0;
}
.s6-note{
  color:#fff;
}
.s7{
  padding:0.3rem 0;
}
.s7-icon{
  width:3.19rem;
  height: 0.33rem;
  background:url(../images/yd_09.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left:24%;
  bottom:0;
}
.s7-tbox{
  font-size:0;
  text-align:center;
}
.s7-titl{
  display: inline-block;
  font-size: 0.36rem;
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-bottom:0.33rem;
}
.s7-icon{
  display: block;
  width:3.19rem;
  height: 0.33rem;
  position: absolute;
  left:0.2rem;
  bottom:0;
}
.s7-div{
  background: url(../images/yd_11.png) no-repeat center;
  background-size:100% 100%;
  padding:0.3rem 0 0.3rem;
}
.s7-items{
 padding-left:0.15rem; 
}
.s7-item{
position: relative;
background: url(../images/yd_10.png) no-repeat center;
background-size: 100% 100%;
padding:0.1rem 0;
margin-top:0.1rem;
}
.s7-item span{
  display:block;
  width: 0.32rem;
  background: rgb( 179, 195, 233 );
  font-size:0.22rem;
  color:#333;
  text-align:center;
  line-height: 0.32rem;
  position: absolute;
  left:-0.16rem;
  top:0.14rem;
}
.s7-item p{
 width:70%;
 float: left;
 font-size: 0.24rem;
 color: rgb( 44, 44, 44 );
 line-height: 0.4rem;
 text-align: left;
 padding-left:0.25rem;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.s7-item a{
  width:25%;
  background: rgb( 78, 117, 205 );
  font-size: 0.26rem;
  color:#fff;
  text-align: center;
  line-height: 0.4rem;
  float:left;
}
.s8{
  padding:0.5rem 0 0.4rem;
  background: url(../images/yd_12.jpg) no-repeat center;
  background-size: cover;
}
.s8-iframe{
  width:66%;
  height: 100px;
  margin:0.3rem auto 0;
}
.copyright{
  font-size:14px;
  color: #333;
  text-align: center;
  padding:0.2rem 0;
  margin-bottom:50px;
}
.fot-scroll {
  width: 100%;
  max-width: 750px;
  padding:0 2%;
  background:#ccc;
  height: 50px;
  position: fixed;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
#fot-info{
 width: 75%;
 height:50px;
 overflow:hidden;
 float:left;
}
#fot-info a{
 display:block;/*杩欎釜灞炴€ф槸蹇呴』鐨�*/
 font-size:14px;
 line-height:50px;
 color:#000;
 letter-spacing: 3px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.fot-btn{
  width:25%;
  height: 35px;
  border-radius: 5px;
  background: #2e63b6;
  font-size: 14px;
  color: rgb( 255, 255, 255 );
  line-height: 35px;
  text-align: center;
  margin-top: 8px;
  float:right;
}
/*搴曢儴婊氬姩淇℃伅*/