@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left:0!important;
}
.no-mt{
  margin-top:0!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.no-bl{
  border-left: none!important;
}
body{
  width:7.5rem;
  margin:0 auto;
}
.s2-titl{
  font-size:0.36rem;
  color:#fff;
  background: rgba(253, 4, 4, 1);
  text-align: center;
  line-height: 0.8rem;
}
.iframe1{
  width:6.7rem;
  margin:0 auto;
  height: 670px;
}
.iframe2{
  width:6.7rem;
  margin:0 auto;
  height: 110px;
}
.copyright{
  font-size: 14px;
  color: #000;
  text-align: center;
  padding: 10px 0;
}
