/*new start*/
.s-new1{
  display: none;
}
.s-new-time{
  height: 1.8rem;
  background: url(../images/new/new_02.jpg) no-repeat center;
  background-size: cover;
}
.s-new-time{
  padding: 0.1rem 0.7rem;
}
.s-new-time span{
  display: block;
  width: 1.43rem;
  height: 1.34rem;
  float: left;
  font-size: 0.62rem;
  color: #d80e16;
  font-weight: bold; 
  text-align: center;
  line-height: 1.34rem;
  margin-left: 0.1rem;
}
.s-new-time .t_d{
  background: url(../images/new/new_04_01.png) no-repeat center;
  background-size: contain;
}
.s-new-time .t_h{
  background: url(../images/new/new_04_02.png) no-repeat center;
  background-size: contain;
}
.s-new-time .t_m{
  background: url(../images/new/new_04_03.png) no-repeat center;
  background-size: contain;
}
.s-new-time .t_s{
  background: url(../images/new/new_04_04.png) no-repeat center;
  background-size: contain;
}
.s-new2{
  background: #f5f5f9;
}
.s-new2-item{
  display: none;
}
.s-new2-txt{
  font-size: 0;
  padding-bottom: 0.4rem;
}
.s-new2-txt h3{
  display: inline-block;
  background-color: rgb(92, 113, 200);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  font-size: 0.32rem;
  color: #fff;
  line-height: 0.6rem;
  padding: 0 0.2rem;
  margin: 0.15rem 0 0.1rem;
}
.s-new2-txt p{
  font-size: 0.26rem;
  color: #000;
  line-height: 0.5rem;
  padding-left: 0.2rem;
}
.s-new2-pic{
  height: 5.75rem;
  background: url(../images/new/new_05.png) no-repeat center;
  background-size: contain;
  padding-top: 3.2rem;
}
.new-d{
  display: block;
  width: 0.8rem;
  font-size: 0.5rem;
  color: red;
  font-weight: bold;
  line-height: 0.6rem;
  text-align: center;
  margin-left: 3.5rem;
}
/*new endign */