@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left:0!important;
}
.no-mt{
  margin-top:0!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.no-bl{
  border-left: none!important;
}
body{
  width:6.4rem;
  margin:0 auto;
  background: url(../images/yd_01.jpg) repeat center;
  background-size: cover;
}
header{
  width: 6.4rem;
  height: 0.8rem;
  padding: 0.2rem 0;
  background-color: rgb( 75, 141, 221 );
  position: fixed;
  left: 50%;
  margin-left: -3.2rem;
  top:0;
  z-index: 100;
}
header a{
  float: left;
  width: 1.6rem;
  font-size: 0.26rem;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
  border-left: 1px solid #fff;
}
section{
  position: relative;
  padding-bottom: 0.4rem;
margin-top:0.2rem;
}
.s1{
  margin-top: 0.6rem;
  padding-top: 0.6rem;
  background: linear-gradient( to bottom, rgb(65, 110, 197) 0%, rgba(96, 156, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background:-webkit-linear-gradient( to bottom, rgb(65, 110, 197) 0%, rgba(96, 156, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background:-ms-linear-gradient( to bottom, rgb(65, 110, 197) 0%, rgba(96, 156, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background:-moz-linear-gradient( to bottom, rgb(65, 110, 197) 0%, rgba(96, 156, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
}
.show-time{
  font-size:0.22rem;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
}
.s1 h1{
    font-size: 0.55rem;
    color: rgb( 255, 255, 255 );
    text-align: center;
    font-weight: normal;
    margin-top:0.3rem;
}
.s1-line{
  display: block;
  width: 4.29rem;
  height: 0.04rem;
  background: url(../images/yd_02.png) no-repeat center;
  background-size: contain;
  margin: 0.2rem auto 0;
}
.s1 h2{
    font-size: 0.3rem;
    color: rgb( 255, 255, 255 );
    line-height: 1.0rem;
    text-align: center;
    font-weight: normal;
}
.s1-ul{
  text-align: center;
}
.s1-li{
  width:2.8rem;
  margin: 0 auto;
}
.s1-li span{
 width: 0.5rem;
 height: 0.5rem;
 float: left;
}
.s1-icon1{
 background: url(../images/yd_03.png) no-repeat center;
 background-size: contain;
}
.s1-icon2{
 background: url(../images/yd_04.png) no-repeat center;
 background-size: contain;
}
.s1-li p{
  font-size: 0.3rem;
  color: rgb( 31, 52, 77 );
  line-height: 0.5rem;
  text-align: center;
  float: left;
}
.s1-time{
 font-size: 0.24rem;
 color: rgb( 34, 34, 34 );
 text-align: center;
}
.s1-time h3{
    font-size: 0.34rem;
    color: rgb( 255, 255, 255 );
    line-height: 0.7rem;
    text-align: center;
    font-weight: normal;
    margin-top: 0.3rem;
}
.s1-time span{
  display: inline-block;
  width: 0.88rem;
  height: 0.69rem;
  background: #fff;
  border:1px solid rgb( 63, 61, 57 );
  border-radius: 5px;
  font-size: 0.36rem;
  color: rgb( 1, 1, 1 );
  line-height: 0.69rem;
  margin: 0 0.1rem;
}
.s-btn{
  width: 4.6rem;
  margin: 0.4rem auto 0;
  border:1px solid rgb( 36, 113, 206 );
  background-image: linear-gradient( 90deg, rgb(54,121,204) 0%, rgb(81,147,227) 100%);
  background-image: -moz-linear-gradient( 90deg, rgb(54,121,204) 0%, rgb(81,147,227) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(54,121,204) 0%, rgb(81,147,227) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(54,121,204) 0%, rgb(81,147,227) 100%);
  font-size: 0.28rem;
  color: rgb( 255, 255, 255 );
  line-height:0.79rem;
  text-align: center; 
  border-radius:5px;
}
.s-end{
  font-size: 0.26rem;
  color: rgb( 154, 153, 154 );
  line-height: 0.6rem;
  text-align: center;
}
.s-down{
  width: 0.18rem;
  height: 0.16rem;
  background: url(../images/yd_05.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -0.09rem;
  bottom: 0;
}
.s-titl{
  font-size: 0.4rem;
  color: rgb( 56, 131, 224 );
  font-weight: bold;
  line-height: 0.6rem;
  text-align: center;
}
.s2-ul{
  padding: 0 0.55rem;
}
.s2-li{
  width: 1.7rem;
  border: 1px solid rgb( 221, 221, 221 );
  border-radius: 5px;
  padding: 0.15rem 0;
  float: left;
  margin:0.2rem 0 0 0.1rem;
}
.s2-li p{
  font-size: 0.34rem;
  color: rgb( 56, 131, 224 );
  line-height: 0.5rem;
  text-align: center;
}
.s2-but{
  margin: 0.1rem auto 0;
  width: 1.43rem;
  border:1px solid rgb( 38, 114, 207 );
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(55,122,205) 0%, rgb(80,146,226) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(55,122,205) 0%, rgb(80,146,226) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(55,122,205) 0%, rgb(80,146,226) 100%);
  font-size: 0.24rem;
  color: rgb( 255, 255, 255 );
  line-height: 0.47rem;
  text-align: center;
}
.s3-item{
  padding: 0 0.8rem;
}
.s3-subt{
 font-size: 0.28rem;
 color: rgb( 56, 131, 224 );
 line-height: 0.4rem;
margin-top: 0.2rem;
}
.s3-pic{
  margin-top: 0.3rem;
}
.s3-text{
  font-size: 0.24rem;
  color: rgb( 123, 123, 123 );
  line-height:0.34rem;
  margin-top: 0.1rem;
}
.iframe-option{
      height: 470px;
}
.if-titl{
      background: #4B8DDD;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
}
.s4-dls{
  padding: 0 0.5rem;
  margin-top: 0.3rem;
}
.s4-bt{
  border-top:1px dashed #dcdcdc;
}
.s4-dl dt{
  width: 4rem;
 font-size: 0.24rem;
 color: rgb( 73, 70, 67);
 line-height: 0.62rem;
border-bottom:1px dashed #dcdcdc;
}
.s-but{
  background-image: -moz-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
}
.s4-dl dd{
   width: 1.25rem;
  border: 1px solid rgb( 220, 220, 220 );
  border-radius: 5px;
  font-size: 0.24rem;
  color: rgb( 73, 70, 67 );
  line-height: 0.48rem;
  text-align: center;
  margin-top: 0.07rem;
}
.s5-items{
  padding: 0 0.68rem;
}
.s5-but{
  width: 1.5rem;
  height: 0.68rem;
  float: left;
  margin: 0.25rem 0 0 0.25rem;
  line-height: 0.68rem;
}
.s6-notice{
width: 4.9rem;
border: 1px solid rgb( 215, 215, 215 );
background-color: rgb( 255, 255, 255 );
border-radius: 5px;
 font-size: 0.24rem;
  color: rgb( 78, 78, 78 );
  line-height: 0.48rem;
  text-align: center;
  padding: 0.4rem 0 0.2rem;
  margin:0.8rem auto 0;
}
.s-nbtn{
  display: block;
  width: 1.68rem;
  height: 0.5rem;
  border: 1px solid rgb( 203, 192, 142 );
  border-radius: 5px;
  background-color: rgb( 250, 248, 239 );
  font-size: 0.26rem;
  color: rgb( 144, 135, 103 );
  line-height: 0.5rem;
  text-align: center;
}
.s6-nbtn1{
  position: absolute;
  left: 50%;
  margin-left: -0.84rem;
  top:-0.25rem;
}
.s6-nbtn2{
  margin:0.2rem auto;
}
.s6-red{
  color: #ff0000;
}
.s6-div h3{
  font-size: 0.4rem;
   color: rgb( 55, 131, 224 );
    line-height: 0.6rem;
  text-align: center;
    font-weight: normal;
}
.s6-div p{
  font-size: 0.24rem;
   color: #333333;
    line-height: 0.4rem;
  text-align: center;
}
.s7-item{
  padding: 0 1.0rem;
  margin-top: 0.2rem;
}
.s7-but{
  width: 2.08rem;
  height: 0.6rem;
  border: 1px solid rgb( 227, 227, 227 );
   font-size: 0.26rem;
  color: rgb( 51, 51, 51 );
  line-height: 0.6rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}
.s7-item p{
    font-size: 0.24rem;
  color: rgb( 102, 102, 102 );
  line-height: 0.4rem;
  margin-top: 0.2rem;
}
.s8-txt{
 font-size: 0.22rem;
  color: rgb( 102, 102, 102 );
  line-height: 0.4rem;
  text-indent: 2em;
  margin-top: 0.2rem;
}
.s9-nbtn{
    width: 4.8rem;
    height: 1rem;
    margin: 0 auto;
    line-height: 0.4rem;
    padding: 0.1rem 0;
}
.s9-btns{
  padding: 0 0.8rem;
}
.s9-btn{
 width: 2.27rem;
}
.s9-btn2{
  border: 1px solid #d7d7d7;
  color: rgb( 51, 51, 51 );
background:#fbfbfa;
  background-image: -moz-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(244,244,244) 0%, rgb(254,254,254) 100%);
}
.copyright{
  font-size: 16px;
  color: #000;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 60px;
}
/*底部滚动信息*/
.fot-scroll {
  width: 6.4rem;
  padding: 0 0.2rem;
  background:url(../images/yd_12.png) repeat-x center;
  background-size: cover;
  height: 60px;
  position: fixed;
  left: 50%;
  margin-left: -3.2rem;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
.fot-scroll #fot-info{
 height:60px;
 overflow:hidden;
}
.fot-scroll #fot-info a{
 display:block;/*这个属性是必须的*/
 font-size:14px;
 line-height:60px;
 color:#e5588d;
 width: 4rem;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.fot-btn {
  width: 2.0rem;
  height: 40px;
  border-radius: 5px;
  background-color:#58ace5;
  font-size: 14px;
  color: rgb( 255, 255, 255 );
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
}
.s-key{
  display: block;
  width: 1.5rem;
  height: 1.2rem;
  background: url(../images/yd_13.png) no-repeat center;
  background-size: contain;
  position: fixed;
  right: 10px;
  bottom:60px;
}