@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left:0!important;
}
.no-bl{
  border-left:0!important;
}
.clearfix:after{
  content:"";
  display: block;
  clear: both;
}
body{
  width:7.5rem;
  margin:0 auto;
  padding-top:0.8rem;
}
nav{
  height: 0.8rem;
  padding: 0.1rem 0;
  background:#dcdee6;
  position: fixed;
  left: 50%;
  margin-left: -3.75rem;
  top: 0;
  z-index: 100;
}
nav a{
  width: 1.875rem;
  font-size: 0.3rem;
  color: #000;
  text-align: center;
  font-weight: bold;
  line-height: 0.6rem;
  border-left: 2px solid #f5f6f8;
  float: left;
}
.s1{
  padding:0.4rem 0;
}
.s1-titl{
    font-size: 0.4rem;
    color: #222222;
    font-weight: bold;
    text-align: center;
    line-height: 0.5rem;
}
.s1-items{
  padding:0 0.3rem;
}
.s1-item{
    width: 2.0rem;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 0.1rem 0 0.2rem;
    float: left;
    margin: 0.4rem 0 0 0.45rem;
}
.s1-item p{
  font-size:0.22rem;
  color: #898989;
  text-align: center;
}
.s1-item span{
    color: #8a3733;
}
.s1-item h3{
    font-size:0.3rem;
  color: #8a3733;
  font-weight: bold;
  text-align: center;
  padding:0.15rem 0 0.1rem;
}
.s1-item h4{
  font-size:0.26rem;
  color: #898989;
  text-align: center;
  margin-top:0.1rem; 
  line-height: 0.5rem;

overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.s2-titl{
  font-size:0.36rem;
  color:#fff;
  background: rgb(74, 144, 226);
  text-align: center;
  line-height: 0.8rem;
}
.s2-iframe{
  height: 670px;
}
.s3-div1{
  padding-left:1.5rem;
  margin-top:0.2rem;
  position: relative;
}
.s3-new{
  width: 1.1rem;
  height: 0.44rem;
  background: url(../images/yd_02.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left:0.35rem;
  top:0;
}
.s3-div1 p{
   font-size:0.3rem;
  color:#000;
  line-height: 0.6rem;
  padding-left: 0.3rem;
  position: relative;
}
.s3-div1 span{
  display: block;
  width: 0.3rem;
  font-size:0.5rem;
  position: absolute;
  left: 0;
  top:0;
}
.s3 h3{
  font-size:0.44rem;
  color:#000;
  text-align: center;
  margin-top:0.1rem;
}
.s3 h4{
  font-size:0.36rem;
  color:#000;
  text-align: center;
   margin-top:0.1rem;
}
.s3 .s2-titl{
  margin-top:0.1rem; 
}
.copyright{
  font-size: 14px;
  color: #000;
  text-align: center;
  padding: 10px 0;
}
